.app {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 179, 70);
}
.wrapper {
    background-color: rgb(107, 145, 250);
    width: 400px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 360px;
}
.input-and-btn {
    height: 35px;
    width: 360px;
    display: flex; 
    justify-content: space-between; 
}
.textbox {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 10px;
}
.btn {
    background-color: rgb(248, 162, 3);
    border: none;
    height: 31px;
    width: 95px;
    border-radius: 5px;
}
.list-list {
    background: white;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;

}
li {
    padding: 2px;
}